<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>DnD Homebrew</title>
        <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}">
        <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) | safe }}">
        
        <script src="{{ get_url(path='elasticlunr.min.js', trailing_slash=false) | safe}}"></script>
        <script src="{{ get_url(path='search_index.en.js', trailing_slash=false) | safe}}"></script>
        <script src="{{ get_url(path='search.js', trailing_slash=false) | safe}}"></script>
</head>
<body>

    <header id="nav-header">
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; justify-content: space-between;">

                <a id="home-button" href="{{ config.base_url }}"> <img class="logo" src="{{ get_url(path='favicon.svg', trailing_slash=false) | safe }}"> Home  </a>
                
                <input type="text" id="search" placeholder="Search..." />
                <section class="search-results" aria-live="polite">
                    <article class="search-results__items" role="list"></article>
                </section>
            </div>
        </div>
    </header>

    <main>
        <section class="section">
            <div class="container">
                {% block content %}{% endblock content %}
            </div>
        </section>
    </main>
</body>
</html>