{% extends "base.html" %}

{% block content %}

<div class="content">

    
    <h1 class="title">
        {{ section.title }}
    </h1>
    
    <ul>
        {% for sub in section.subsections %}
        {% set sub = get_section(path=sub) %}
        <li>{{ sub.title }}</li>
            <ul>
                {% for page in sub.pages %}
                <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>

{% endblock content %}