{% extends "base.html" %}

{% block content%}

<h1 class="title">
    This is a website for hosting my DnD Homebrew
</h1>

<h2>Disclaimer</h2>

<p>This website is not endorsed Wizards of the Coast</p>
<p>This website is intented as a more accesible digital reference for products you own and some additional HomeBrew content</p>
<p>Please ensure you only access content in accordence with your local laws</p>

<ul>
    {% for sub in section.subsections %}
        {%set sub = get_section(path=sub)%}
        <li><a href="{{ sub.path | safe }}">{{ sub.title }} </a></li>
    {% endfor %}
</ul>

{% endblock content %}