{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

<script src="{{ get_url(path='spell_filter.js', trailing_slash=false) | safe }}"></script>

{% set section = get_section(path='spells/_index.md')%}
<h1 class="title">
  {{ section.title }}
</h1>



{% set spellbooks = get_taxonomy(kind="spellbook") %}
{% set classes = get_taxonomy(kind="classes") %}
{% set subclasses = get_taxonomy(kind="subclasses") %}
{% set feats = get_taxonomy(kind="feats") %}
{% set races = get_taxonomy(kind="races") %}

<button class="open-filters" aria-label="Open Filter Popup">Filters</button>

<div class="filters hidden">
    <div class="content">
    <div class="filter-container">
        <div class="popup-header">
            <p>Filters</p>
            <div style="margin-left: auto;">
                <button class="reset-filters" onclick="resetFilterButtons()">Reset all</button>
                <button class="close-filters" aria-label="Close Popup">X</button>
            </div>
        </div>

        <b>Source</b>
        <div class="source-filters">
            {% for source in spellbooks.items %}
            <button class="source-filter" data-source="{{ source.name }}">
                {{ source.name }}
        </button>
        {% endfor %}
    </div>
    
    <b>Classes</b>
    <div class="class-filters">
        <br>
        {% for class in classes.items %}
        <button class="class-filter" data-class="{{ class.name }}">
            {{ class.name }}
        </button>
        {% endfor %}
    </div>
    
    <b>Subclasses</b>
    <div class="subclass-filters">
        <br>
        {% for subclass in subclasses.items %}
        {% if subclass.name not in ["Way of the Curse Monk", "Iai Chop Monk", "Heavenly Restricted Fighter"]%}
        <button class="subclass-filter" data-subclass="{{ subclass.name }}">
            {{ subclass.name }}
        </button>
        {% endif %}
        {% endfor %}
    </div>
    
    <b>Feats</b>
    <div class="feats-filters">
        <br>
        {% for feat in feats.items %}
        <button class="feat-filter" data-feat="{{ feat.name }}">
            {{ feat.name }}
        </button>
        {% endfor %}
    </div>
    
    <b>Races</b>
    <div class="race-filters">
        <br>
        {% for race in races.items %}
        <button class="race-filter" data-race="{{ race.name }}">
            {{ race.name }}
        </button>
        {% endfor %}
    </div>
    <b>Spell Level</b>
    <div class="level-filters">
        <br>
        {% for level in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] %}
        <button class="level-filter" data-level="{{ level }}">
            {{ level }}
        </button>

        {% endfor%}
    </div>
    </div>
</div>
</div>


<div class="no-scroll" style="display: flex; height: 80vh">
<div>
<div class="spell-list view">
    {% set sorted_pages = section.pages | sort(attribute="extra.level", reverse=true)%}
  <table class="spell-table">
      <thead>
          <tr>
              <th>Spell</th>
              <th>Level</th>
              <th>Concentration</th>
              <th>School</th>
              <th>Source</th>
            </tr>
        </thead>
        <tbody>
            
            {% for page in sorted_pages %}
            <tr class="spell-item" 
            data-source="{{ page.taxonomies.spellbook[0] }}"
            data-classes="{{ page.taxonomies.classes | join(sep=' ') }}"
            data-subclasses="{% if page.taxonomies.subclasses %} {{ page.taxonomies.subclasses | join(sep='9')}} {% endif %}"
            data-feats="{% if page.taxonomies.feats %} {{ page.taxonomies.feats | join(sep='9') }} {% endif %}"
            data-races="{% if page.taxonomies.races %} {{ page.taxonomies.races | join(sep='9') }} {% endif %}"
            data-level="{{ page.extra.level }}"
            >
            <td>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </td>
            {% if page.extra.level == 0 %}
            <td>Cantrip</td>
            {% else %}
            <td>{{ page.extra.level }}</td> 
            {% endif %}
            
            {% if page.extra.concentration %}
            <td>X</td>
            {% else %}
            <td></td>
            {%endif%}
            
            <td> <abbr title="{{ page.extra.school }}">{{ macros::abbreviate_school(school=page.extra.school)}}</abbr></td>
            
            <td><abbr title="{{ page.taxonomies.spellbook[0] }}">{{ macros::abbreviate_spellbook(spellbook=page.taxonomies.spellbook[0]) }}</abbr></td>
            
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
</div>

<div class="spell">
    <h1 class="title"> {{ page.title }} </h1>
    {{ page.content | safe }}
</div>
</div>
{% endblock content %}