{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

{% set spellbooks = get_taxonomy(kind="spellbook") %}
{% set classes = get_taxonomy(kind="classes") %}
{% set subclasses = get_taxonomy(kind="subclasses") %}
{% set feats = get_taxonomy(kind="feats") %}
{% set races = get_taxonomy(kind="races") %}
{% set languages = get_taxonomy(kind="languages") %}


<div class="source-filters">
  {% for source in spellbooks.items %}
    <button class="source-filter active" data-source="{{ source.name }}">
      {{ source.name }}
    </button>
  {% endfor %}
</div>

<div class="class-filters">
  {% for class in classes.items %}
    <button class="class-filter active" data-class="{{ class.name }}">
      {{ class.name }}
    </button>
  {% endfor %}
</div>

<div class="subclass-filters">
  {% for subclass in subclasses.items %}
    <button class="subclass-filter active" data-subclass="{{ subclass.name }}">
      {{ subclass.name }}
    </button>
  {% endfor %}
</div>

<div class="feats-filters">
  {% for feat in feats.items %}
    <button class="feat-filter active" data-feat="{{ feat.name }}">
      {{ feat.name }}
    </button>
  {% endfor %}
</div>

<div class="race-filters">
  {% for race in races.items %}
    <button class="race-filter active" data-race="{{ race.name }}">
      {{ race.name }}
    </button>
  {% endfor %}
</div>

<div class="language-filters">
  {% for language in languages.items %}
    <button class="lang-filter active" data-language="{{ language.name }}">
      {{ language.name }}
    </button>
  {% endfor %}
</div>


<div class="spell-list">
  {% set sorted_pages = section.pages | sort(attribute="extra.level", reverse=true)%}
  <table>
    <tr>
      <th>Spell</th>
      <th>Level</th>
      <th>Concentration</th>
      <th>School</th>
      <th>Source</th>
    </tr>
  {% for page in sorted_pages %}
  <tr class="spell-item" 
        data-source="{{ page.taxonomies.spellbook[0] }}"
        data-classes="{{ page.taxonomies.classes | join(sep=' ') }}"
        data-subclasses="{% if page.taxonomies.subclasses %} {{ page.taxonomies.subclasses | join(sep='9')}} {% endif %}"
        data-feats="{% if page.taxonomies.feats %} {{ page.taxonomies.feats | join(sep=' ') }} {% endif %}"
        data-races="{% if page.taxonomies.races %} {{ page.taxonomies.races | join(sep=' ') }} {% endif %}"
        data-language="{% if page.taxonomies.languages %} {{ page.taxonomies.languages | join(sep=' ') }} {% endif %}"
        >
    <td>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </td>
    {% if page.extra.level == 0 %}
      <td>Cantrip</td>
    {% else %}
      <td>{{ page.extra.level }}</td> 
    {% endif %}

    {% if page.extra.concentration %}
    <td>X</td>
    {% else %}
    <td></td>
    {%endif%}

    <td>{{ macros::abbreviate_school(school=page.extra.school)}}</td>

    <td>{{ macros::abbreviate_spellbook(spellbook=page.taxonomies.spellbook[0]) }}</td>

  </tr>

{% endfor %}
</table>
</div>

{% endblock content %}