{% extends "base.html" %}

{% block content %}

<table>
    <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Effects</th>
        <th>Upgradable?</th>
        <th>Upgrade Cost</th>
        <th>Tier</th>
    </tr>

    {% set sorted_pages = section.pages | sort(attribute="extra.tier", reverse=true)%}
    {% for page in sorted_pages %}
    <tr>
        <td><a href="{{ page.permalink | safe }}">{{ page.title }}</a></td>
        <td>{{ page.extra.cost }}</td>
        <td>{{ page.extra.effects }}</td>
        <td>{{ page.extra.upgradable }}</td>
        <td>{% if page.extra.upgrade_cost %} {{ page.extra.upgrade_cost }} {% else %} N/A {% endif %}</td>
        <td>{{ page.extra.tier }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}